.trans-list {
  margin-top: 20px;
  overflow: auto;
    overflow-y: hidden;
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h2 {
      color: #f7c057;
      text-transform: uppercase;
      font-weight: 400;
    }

    .search-form {
      position: relative;
      display: flex;
      align-items: center;

      .SVGInline {
        position: absolute;
        left: 20px;
        padding-top: 5px;
      }

      input {
        border-radius: 20px;
        line-height: 20px;
        padding: 10px 10px 10px 40px;
        font-size: 16px;
        border: 1px solid #eeeeee;
        width: 250px;
        transition: width 0.5s;
        &:focus {
          outline: none;
          width: 300px;
        }
      }
    }
  }
  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    line-height: 20px;
    .spacer {
      height: 10px;
      &:first-child {
        height: 20px;
      }
    }

    tr.head {
      padding-bottom: 10px;
      margin-bottom: 10px;

      th {
        cursor: pointer;
        padding-bottom: 10px;
        border-bottom: 1px #cccccc solid;
        .SVGInline{
          margin-left: 10px;
        }
      }
    }

    tbody tr {
      margin: 10px;
      padding: 10px;

      td {
        padding: 10px;
        background-color: white;
        .red-circle{
          display: inline-flex;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
